<div class="row">

   <div class="large-12 columns">
   <div class="large-3 columns "style="background-color:transparent;">
   

  <div class="second">
   sddsd <br><br><br><br><br><br><br><br><br><br>
   </div><br>
  <div class="second">
    <h6>Most Viewed</h6><br><br><br><br><br><br>


  </div>
   <div>

   </div>
   </div>

   <div class="large-9 columns first">
   <div >
   <nav class="breadcrumbs second">
   <li>Home</li>
   <li>index</li>
     

   </nav>
   
   </div><br>

    <div id="slider" class="second">
      <img src="http://placehold.it/1000x400&text=[ img 1 ]"/>
    </div>
    </div>
    <hr/>

  
   </div>


</div>
  
 
 
  <div class="row">
  <div class="large-12 columns">

    <div class="large-4 small-6 columns image">
      <img src="/assets/baba1.jpeg" style="width:100%"/>
      <h4>This is a content section.</h4>
      <p>Maharajji established at least 108 temples, fed millions of people, advised government and corporate leaders, performed what can be called Miracles, influenced current American and Indian society, brought grace into the lives of countless suffering people, and all the while remained out of the "public eye."</p>
    </div>
    
    <div class="large-4 small-6 columns image">
      <img src="/assets/baba2.jpeg" style="width:100%"/>
      <h4>This is a content section.</h4>
      <p>It is believed that by the time Maharajji was 17 years old He knew EVERYTHING. This is to be taken to mean a knowing that is actually incomprehensible to you and me. A knowing that is all. The knowing of Bhagvan. The knowing of God. There are stories contained in this website and in the books referred to herein that hope to in some way help to tell of the Grace and Love of this truly remarkable being. Maharajji had nothing and Maharajji had everything.</p>
    </div>
    
    <div class="large-4 small-6 columns">
      <img src="http://placehold.it/400x300&text=[img]"/>
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  
    </div>
    </div>  
    
 <br>
<div class="row">
    <div class="large-12 columns" >
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>