<div class="row">

   <div class="large-12 columns">
   <div class="large-3 columns "style="background-color:transparent;">
   

  <div class="second">
   <font size="2">It is believed that by the time Maharajji was 17 years old He knew EVERYTHING. This is to be taken to mean a knowing that is actually incomprehensible to you and me. A knowing that is all. The knowing of Bhagvan. The knowing of God.</font>
   </div><br>
  <div class="second">
    <p align="center" style="background-color:gray" class="oborder">Most Viewed</p><br><br><br><br><br><br>


  </div>
   <div>

   </div>
   </div>

   <div class="large-9 columns first">
   <div >
   <nav class="breadcrumbs oborder">
   <li>Home</li>
   <li>index</li>
     

   </nav>
   
   </div><br>

    <div id="slider" class="second">
      <img src="http://placehold.it/1000x400&text=[ img 1 ]"/>
    </div>
    </div>
    <hr/>

  
   </div>


</div>
  
 
 
  <div class="row">
  <div class="large-12 columns">

    <div class="large-4 small-6 columns oborder">
      <img src="/assets/baba1.jpeg" style="width:100%"/>
      <h4>This is a content section.</h4>
      <p><font size="2">Maharajji established at least 108 temples, fed millions of people, advised government and corporate leaders, performed what can be called Miracles, influenced current American and Indian society, brought grace into the lives of countless suffering people, and all the while remained out of the "public eye."</font></p>
    </div>
    
    <div class="large-4 small-6 columns oborder">
      <img src="/assets/baba2.jpeg" style="width:100%"/>
      <h4>This is a content section.</h4>
      <p><font size="2">It is believed that by the time Maharajji was 17 years old He knew EVERYTHING. This is to be taken to mean a knowing that is actually incomprehensible to you and me. A knowing that is all. The knowing of Bhagvan. The knowing of God. There are stories contained in this website and in the books referred to herein that hope to in some way help to tell of the Grace and Love of this truly remarkable being. Maharajji had nothing and Maharajji had everything.</font></p>
    </div>
    
    <div class="large-4 small-6 columns oborder">
      <img src="http://placehold.it/400x300&text=[img]"/>
      <h4>This is a content section.</h4>
      <p><font size="2">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</font></p>
    </div>
  
    </div>
    </div>  
    


<div class="row">
    <div class="large-12 columns" style="border-radius:6px;" >
    
      <div class="panel" style="border-radius:16px;">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right thing">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>