
<div class="row">

 <div class="large-12 columns">
<div class="large-3 columns">
 <p>Under constructionfvdfdfdfdf</p>
 </div>
 <div class="large-9 columns">
 <div >
   <nav class="breadcrumbs oborder">
   <li><a href="/welcome/index">Home</a></li>
   <li>Others</li>
     

   </nav>
   
   </div>
   </div>

 </div>

    <canvas id="myCanvas"></canvas>
    <script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    <script type="text/javascript" src="main.js"></script>




</div>



 <script>

 var myName = "BABA";

var red = [0, 100, 63];
var orange = [40, 100, 60];
var green = [75, 100, 40];
var blue = [196, 77, 55];
var purple = [280, 50, 60];
var letterColors = [red, orange, green, blue, purple];

drawName(myName, letterColors);

if(10 < 3)
{
    bubbleShape = 'square';
}
else
{
    bubbleShape = 'circle';
}

bounceBubbles();


</script>