<div class="row">

 <div class="large-12 columns">
<div class="large-3 columns">
 <p>Under construction</p>
 </div>

 <div class="large-9 columns">
 <div >
   <nav class="breadcrumbs oborder">
   <li><a href="/welcome/index">Home</a></li>
   <li>Photos</li>
     

   </nav>
   
   </div>
<br>

  <div>
   <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4"> 
   <li><img src="/assets/images.jpeg"></li> 
   <li><a href=""><img class="img" src="/assets/baba1.jpeg" style="height:185px;"></a></li> 
   <li><img src="/assets/images.jpeg"></li>
   <li><img src="/assets/images.jpeg"></li> 
   <li><img src="/assets/images.jpeg"></li> 
   <li><img src="/assets/images.jpeg"></li>
   <li><img src="/assets/images.jpeg"></li> 
   <li><img src="/assets/images.jpeg"></li> 
   <li><img src="/assets/images.jpeg"></li>
    </ul>

  </div>


<ul class="pagination"> <li class="arrow unavailable"><a href="">&laquo;</a></li> <li class="current"><a href="">1</a></li> <li><a href="">2</a></li> <li><a href="">3</a></li> <li><a href="">4</a></li> <li class="unavailable"><a href="">&hellip;</a></li> <li><a href="">12</a></li> <li><a href="">13</a></li> <li class="arrow"><a href="">&raquo;</a></li> </ul>
   </div>

 
    
 


</div>


</div>



 <style>
.img{
	border: 3px solid #000000;
}


div a:hover img {
    border: 1px solid #ffffff;
}
</style>